:host {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.page-controls {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.btn-addEPP{
  width: 170px;
}

.btn-show-calendar{
  height: 35px;
}
